# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
- main

pool:
  vmImage: 'windows-latest'

steps:
- task: UseDotNet@2
  displayName: 'Use dotnet sdk 6.0'
  inputs:
    version: 6.0.x
    installationPath: '$(Agent.ToolsDirectory)/dotnet'    

- task: DotNetCoreCLI@2
  displayName: 'Build and test '
  inputs:
    command: 'run'
    projects: '$(Build.SourcesDirectory)/src/PowerAppsTestEngine/PowerAppsTestEngine.csproj'

- task: NuGetCommand@2
  inputs:
    command: 'pack'
    packagesToPack: '$(Build.BinariesDirectory)/$(BuildConfiguration)/PowerAppsTestEngine/PowerAppsTestEngine.nuspec'
    versioningScheme: 'off'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'PowerApps.TestEngine ($(BuildConfiguration))'
    publishLocation: 'Container'